<footer class="post-info">{{ .Site.Data.l10n.article.posted_on }} 
	<span class="post-meta">
		<img class="author-thumb" src="{{ $.Site.BaseURL }}images/glorevenhite-thumb.jpeg"/> {{.Param "site_author"}} posted on
		<time datetime="{{ .Date.Format "01 Feb, 2006" }}">{{ .Date.Format "01 Feb, 2006" }}</time>
		{{ if isset .Params "tags" }}
    		{{ if gt (len .Params.tags) 0 }} in {{ .Site.Data.l10n.article.tagged_in }}
        		{{ range $i, $v := .Params.tags }}
        			<a href="{{ $.Site.BaseURL }}tags/{{ $v | urlize }}">{{ $v | upper }}</a>
        			{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
        		{{ end }}
    		{{ end }}
		{{ end }}
	</span>
</footer>