{{ with .Site.Social.twitter }}
<a href="//twitter.com/{{.}}" class="icon-twitter" target="_blank" title="Twitter"></a>
{{ end }}

{{ with .Site.Social.facebook }}
<a href="//facebook.com/{{.}}" class="icon-facebook" target="_blank" title="Facebook"></a>
{{ end }}

{{ with .Site.Social.linkedin }}
<a href="//linkedin.com/in/{{.}}" class="icon-linkedin" target="_blank" title="Linkedin"></a>
{{ end }}

{{ with .Site.Social.github }}
<a href="//github.com/{{.}}" class="icon-github" target="_blank" title="Github"></a>
{{ end }}

<a href="{{ .Site.BaseURL }}post/index.xml" class="icon-rss" target="_blank" title="RSS"></a>
