<script type="text/javascript">

      $(document).ready(function() {
    
      {{ $url := delimit (slice .Site.BaseURL "csv/20161007-size.csv") ""}}

      var options = {
        chart: {
          
          renderTo: 'avin-size',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'AVIN\u2122 Universe Structure (VND: bn)'
        },

        tooltip: {
                pointFormat:'{point.percentage:,.1f} %</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                showInLegend: true       
            }
        },

        series: []
      };
      
  
      $.get({{ $url }}, function(data) {
        // Split the lines
        var lines = data.split('\n');
        var s = { 
              type : "pie",
              colorByPoint: true,
              data: []
            };

        $.each(lines, function(lineNo, line) {
          var items = line.split(',');
          
         
      
          // the rest of the lines contain data with their name in the first position
          if (lineNo > 0) {
            name = "";
            y = 0;
            
            $.each(items, function(itemNo, item) { 
              if (itemNo == 0) {
                name = item;
              } else {
                y = parseFloat(item);
              }
            });
            s.data.push({name, y}); 
            
          }
        });
        options.series.push(s);

        var chart = new Highcharts.Chart(options);
      });
      
      
    });
    </script>


      <div id="avin-size" style="float:left; min-width: 350px; max-width:50%; height: 400px; margin: auto 0"></div>